<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
    <!-- Include Bootstrap CSS directly from CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="container mt-5">
        <h1>Welcome <%= userID %></h1>
        <p>Cookie set with userID: <%= userID %></p>
        <form action="/auth/logout" method="post">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form><br>
        <a href="/topics" class="btn btn-info">View Topics</a><br><br>
        <a href="/subscriptions" class="btn btn-info">View Subscriptions</a><br><br>



        <form action="/topics/create" method="post">
            <div class="form-group">
                <label for="topicTitle">New Topic Title:</label>
                <input type="text" class="form-control" id="topicTitle" name="title" required>
            </div>
            <div class="form-group">
                <label for="initialPost">Initial Post:</label>
                <textarea class="form-control" id="initialPost" name="content" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Create Topic and Post</button>
        </form>
    </div>
        <!-- <h1>Welcome <%= userID %></h1> -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Welcome, <%= userID %></h1>
                <p>This is your user dashboard where you can manage your topics and posts.</p>
            </div>
        </div>


        <div class="container">
            <h2>Trending Topics: </h2>
            <hr>

            <div class="row">
                <% posts.forEach(function(post) { %>
                    <div class="col-md-4">
                        <% if (post.topicDetails && post.topicDetails.length > 0) { %>
                            <h2><%= post.topicDetails[0].title %></h2>
                            <p><%= post.content.substring(0, 150) %>...</p>
                            <p><a class="btn btn-secondary" href="/topics/<%= post.topicDetails[0]._id %>" role="button">View details &raquo;</a></p>
                        <% } else { %>
                            <h2>Topic Details Not Available</h2>
                            <p><%= post.content.substring(0, 150) %>...</p>
                        <% } %>
                    </div>
                <% }) %>
            </div>
        </div>
        <hr>

        <div class="container">
            <h2>Subscribed Topics:</h2>
            <hr>
        
            <div class="row">
                <% subscribedTopics.forEach(function(topic) { %>
                    <div class="col-md-4">
                        <h2><%= topic.title %></h2>
                        <p>Created by <%= topic.creator.userID %></p>
                        <p><a class="btn btn-secondary" href="/topics/<%= topic._id %>" role="button">View details &raquo;</a></p>
                    </div>
                <% }); %>
            </div>
        </div>
        <hr>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Create a topic
                    </button>
                </h2>
                </div>
                
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form action="/topics/create" method="post">
                        <div class="form-group">
                            <label for="topicTitle">New Topic Title:</label>
                            <input type="text" class="form-control" id="topicTitle" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="initialPost">Initial Post:</label>
                            <textarea class="form-control" id="initialPost" name="content" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Create Topic and Post</button>
                    </form>                
                </div>
                </div>
            </div>


    </div><br>
    <!-- <p>Cookie set with userID: <%= userID %></p> -->

</body>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->


</html>








